@use '@styles/mixins' as *;

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);
  min-width: 32px;
  min-height: 32px;
  padding: var(--space-2);
  color: var(--dropdown-trigger-default-fg);
  background: var(--dropdown-trigger-default-bg);
  border: 2px solid var(--dropdown-trigger-default-border);
  border-radius: var(--radius-lg);
  cursor: pointer;

  @include smooth-transition(
    (color, background-color, border-color, box-shadow)
  );

  &:focus-visible:not(.disabled) {
    color: var(--dropdown-trigger-focus-fg);
    background: var(--dropdown-trigger-focus-bg);
    outline: none;
    box-shadow: 0 0 0 3px var(--dropdown-trigger-focus-ring);
  }

  &:hover:not(.disabled) {
    color: var(--dropdown-trigger-hover-fg);
    background: var(--dropdown-trigger-hover-bg);

    @include ring(var(--dropdown-trigger-hover-ring));

    .iconLeft svg {
      color: currentcolor;
      fill: currentcolor;
    }
  }

  &.disabled {
    color: var(--dropdown-trigger-disabled-fg);
    background-color: var(--dropdown-trigger-disabled-bg);
    border: 2px dashed var(--dropdown-trigger-disabled-border);
    cursor: not-allowed;
    pointer-events: none;

    .iconLeft,
    .arrow {
      color: var(--dropdown-trigger-disabled-fg);
    }
  }

  &.iconOnly {
    justify-content: center;
    width: 42px;
    height: 42px;
    padding: 8px;
    border-radius: var(--radius-full);

    &:hover:not(.disabled) {
      background: var(--dropdown-trigger-hover-bg);

      @include ring(var(--dropdown-trigger-hover-ring));

      .iconLeft {
        transform: rotate(var(--dropdown-rotate-angle, 90deg));
      }
    }
  }
}

.iconLeft,
.arrow {
  display: inline-flex;
  align-items: center;
  line-height: 0;

  @include smooth-transition(transform);

  svg {
    width: 16px;
    height: 16px;
    fill: currentcolor;
  }
}

.arrow {
  margin-left: auto;
}

.open {
  transform: rotate(180deg);
}

.button:hover:not(.disabled) .arrow:not(.open) {
  transform: rotate(-90deg);
}

// Accessibility
@media (prefers-reduced-motion: reduce) {
  .button,
  .iconLeft,
  .arrow {
    transition: none;
  }
}
