.content {
  width: fit-content;
  min-width: 320px;
  max-width: 600px;
  max-height: 90vh;
  overflow: hidden auto;
  padding: var(--space-4);
  color: var(--modal-content-fg);
  background-color: var(--modal-content-bg);
  border: 1px solid var(--modal-content-border);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
}
