@font-face {
  font-weight: 600;
  font-family: VelliraSans;
  font-style: normal;
  src: url('../fonts/VelliraSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: VelliraSans;
  font-style: normal;
  src: url('../fonts/VelliraSans-Medium.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: VelliraSans;
  font-style: normal;
  src: url('../fonts/VelliraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 200;
  font-family: VelliraSans;
  font-style: normal;
  src: url('../fonts/VelliraSans-ExtraLight.woff2') format('woff2');
}
