@font-face {
  font-weight: 700;
  font-family: KantumruyPro;
  font-style: normal;
  src: url('../fonts/KantumruyPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: KantumruyPro;
  font-style: normal;
  src: url('../fonts/KantumruyPro-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: KantumruyPro;
  font-style: normal;
  src: url('../fonts/KantumruyPro-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: KantumruyPro;
  font-style: normal;
  src: url('../fonts/KantumruyPro-ExtraLight.ttf') format('truetype');
}
