@font-face {
  font-family: 'Vellira Sans';
  src: url('../fonts/VelliraSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Vellira Sans';
  src: url('../fonts/VelliraSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Vellira Sans';
  src: url('../fonts/VelliraSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Vellira Sans';
  src: url('../fonts/VelliraSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Vellira Sans';
  src: url('../fonts/VelliraSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Vellira Sans';
  src: url('../fonts/VelliraSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: optional;
}

/* React Native Web aliases */

@font-face {
  font-family: VelliraSans-ExtraLight;
  src: url('../fonts/VelliraSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VelliraSans-Regular;
  src: url('../fonts/VelliraSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VelliraSans-Medium;
  src: url('../fonts/VelliraSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VelliraSans-SemiBold;
  src: url('../fonts/VelliraSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VelliraSans-Bold;
  src: url('../fonts/VelliraSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VelliraSans-ExtraBold;
  src: url('../fonts/VelliraSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
