.git
.github
.idea
.DS_Store

node_modules
**/node_modules
.pnpm-store

.next
**/.next

dist
**/dist
build
**/build

coverage
**/coverage

.lighthouseci
lighthouse-results
**/lighthouse-results

test-results
**/test-results
playwright-report
**/playwright-report

.tmp-package-smoke-web
.tmp-package-smoke-native

debug-storybook.log

.env
.env.*
!.env.example