:root,
body,
#storybook-root,
#storybook-docs {
  font-family: var(--font-family-base);
}

button,
input,
select,
textarea {
  font-family: var(--font-family-base);
}

#storybook-docs
  :where(.sbdocs, .sbdocs *, .docs-story, .docs-story *):not(
    pre,
    pre *,
    code,
    kbd,
    samp
  ) {
  font-family: var(--font-family-base);
}
