@use 'sass:list';

@mixin text-xl {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-xl);
}

@mixin text-lg {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);
}

@mixin text-md {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);
}

@mixin text-sm {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}

@mixin ring($color, $width: 2px) {
  box-shadow: 0 0 0 $width $color;
}

@mixin focus-ring($width: 2px) {
  outline: none;

  @include ring(var(--color-focus-ring), $width);
}

@mixin smooth-transition($properties: all, $duration: 0.2s) {
  $transitions: ();

  @if list.length($properties) == 1 {
    transition: $properties $duration ease;
  } @else {
    @each $property in $properties {
      $transitions: list.append(
        $transitions,
        #{$property} #{$duration} ease,
        $separator: comma
      );
    }

    transition: $transitions;
  }
}
