.list {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-5);
  margin-bottom: var(--space-4);
}

.vertical {
  flex-direction: column;
  gap: var(--space-1);
  margin-right: var(--space-4);
  margin-bottom: 0;
}
