.group {
  padding: var(--space-2) var(--space-3);
  color: var(--dropdown-group-label-fg);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-sm);
  text-transform: uppercase;
  letter-spacing: 0;
  user-select: none;
}

.group:not(:first-child) {
  margin-top: var(--space-1);
}
