.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  gap: var(--space-2);
}

.label {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  color: var(--form-field-label-fg);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-sm);
  gap: var(--space-1);
}

.required {
  color: var(--form-field-required-mark-fg);
}

.description {
  color: var(--form-field-description-fg);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}

.items {
  display: flex;
  min-width: 0;
}

.vertical {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-2);
}

.horizontal {
  flex-flow: row wrap;
  align-items: flex-start;
  gap: var(--space-4) var(--space-6);
}

.error {
  color: var(--form-field-helper-text-error-fg);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
}

.disabled {
  .label,
  .description {
    color: var(--form-field-disabled-fg);
  }
}

.invalid {
  .label {
    color: var(--form-field-error-fg);
  }
}
