@use '@styles/mixins' as *;

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--space-2) var(--space-3);
  color: var(--dropdown-item-default-fg);
  font-size: var(--font-size-md);
  background-color: var(--dropdown-item-default-bg);
  border-radius: var(--radius-sm);
  cursor: pointer;
  overflow: hidden;
  gap: var(--space-4);
  min-width: 0;
  user-select: none;

  @include smooth-transition((color, background-color, box-shadow));

  &:hover:not(.disabled) {
    color: var(--dropdown-item-hover-fg);
    background-color: var(--dropdown-item-hover-bg);
  }
}

.item:focus-visible:not(.disabled) {
  outline: none;
  box-shadow: 0 0 0 2px var(--dropdown-item-active-ring);
}

.active {
  color: var(--dropdown-item-active-fg);
  background-color: var(--dropdown-item-active-bg);
}

.item.active {
  box-shadow: 0 0 0 2px var(--dropdown-item-active-ring);
}

.item.danger {
  color: var(--dropdown-item-danger-default-fg);

  &:hover:not(.disabled) {
    color: var(--dropdown-item-danger-hover-fg);
  }

  &.active {
    color: var(--dropdown-item-danger-active-fg);
    box-shadow: 0 0 0 2px var(--dropdown-item-danger-active-ring);
  }
}

.item > * {
  position: relative;
  z-index: 1;
}

.item.disabled,
.item.danger.disabled {
  color: var(--dropdown-item-disabled-fg);
  background-color: var(--dropdown-item-disabled-bg);
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;

  .itemIcon,
  .itemShortcut {
    color: var(--dropdown-item-disabled-fg);
  }
}

.itemText {
  flex: 1;
  min-width: 0;
  line-height: 1.5;
  text-align: left;

  &--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--wrap {
    overflow-wrap: break-word;
    white-space: normal;
  }

  &--nowrap {
    white-space: nowrap;
  }
}

.itemShortcut {
  flex-shrink: 0;
  margin-left: auto;
  padding-left: var(--space-3);
  color: var(--dropdown-group-label-fg);
  font-family: monospace;
  font-size: var(--font-size-xs);
}

.item:has(.itemText--wrap) {
  align-items: flex-start;
}

.itemIcon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  width: 20px;
  height: 20px;
  color: inherit;

  @include smooth-transition(transform);

  svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}

@media (prefers-reduced-motion: reduce) {
  .item,
  .itemIcon {
    transition: none;
  }
}
