.option {
  padding: var(--space-4) var(--space-4);
  color: var(--select-option-default-fg);
  line-height: var(--line-height-sm);
  background-color: var(--select-option-default-bg);
  transition:
    color 0.15s ease,
    background-color 0.15s ease;
  cursor: pointer;
  min-height: 36px;

  &:hover:not(.selected, .disabled) {
    color: var(--select-option-hover-fg);
    background-color: var(--select-option-hover-bg);
    box-shadow: inset 0 0 0 2px var(--select-option-active-ring);
  }
}

.selected {
  color: var(--select-option-selected-fg);
  background-color: var(--select-option-selected-bg);
}

.active:not(.selected, .disabled) {
  color: var(--select-option-active-fg);
  background-color: var(--select-option-active-bg);
  box-shadow: inset 0 0 0 2px var(--select-option-active-ring);
}

.disabled {
  color: var(--select-option-disabled-fg);
  background-color: var(--select-option-disabled-bg);
  cursor: not-allowed;
}
