@use '@styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  gap: var(--space-2);
}

.label {
  @include text-md;

  display: inline-flex;
  align-items: center;
  width: fit-content;
  color: var(--form-field-label-fg);
  font-weight: var(--font-weight-medium);
}

.required {
  margin-left: var(--space-1);
  color: var(--form-field-required-mark-fg);
}

.description {
  @include text-sm;

  color: var(--form-field-description-fg);
}

.control {
  display: flex;
  width: 100%;
  min-width: 0;
}

.errorText {
  @include text-sm;

  color: var(--form-field-helper-text-error-fg);
}

.disabled {
  color: var(--form-field-disabled-label-fg);
  cursor: not-allowed;
}
